body {
	background-color: rgb(250, 250, 250);
	font-size: 12px;
}

header {
	font-family: 'bangers', 'cursive';
	text-align: center;
	font-size: 300%;
	letter-spacing: .2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
/* ********************************* */

.gameconsole {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.actions {
	display: flex;
	background-color: rgb(250, 250, 250);
}

.actions h1,
.gamestats h1,
.gamelog h1 {
	font-size: 150%;
	text-align: center;
	height: 40px;
	margin: 0;
	padding-top: .7rem;
	background-color: #2196f3;
	color: white;
}

.action-card {
	padding-top: 1rem;
}

.umpire-actions,
.defense-actions,
.offense-actions {
	font-size: 80%;
	border: solid;
	border-radius: 5px;
	width: 5rem;
	height: 27rem;
	margin-right: 1rem;
	text-align: center;
	background-color: #fff;
}

.umpire-actions {
	width: 11rem;
}

button {
	width: 70px;
	height: 50px;
	text-align: center;
	margin: .3rem;
	padding: .8rem;
	border-radius: 5px;
	/* background-color: rgb(231, 230, 230); */
	color: #fff;
	transition-delay: .1s;
	background-color: #80bcee;
}

button:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

.gameinfo {
	display: flex;
	flex-direction: column;
}

.gamelog {
	border: solid;
	border-radius: 5px;
	width: 500px;
	height: 400px;
	text-align: center;
	margin-left: 1rem;
	margin-bottom: 1rem;
	background-color: #fff;
}

.gamestats {
	border: solid;
	border-radius: 5px;
	width: 150px;
	background-color: #fff;
}

/* ********************************* */
/* .segment.container {
	background-color: #fefefa;
} */
/* 
button.ui.button {
	margin: .75rem;
} */

/* h1.header {
	text-align: center;
} */

.game-output {
	height: 310px;
	text-align: left;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #fff;
	overflow: auto;
}

.game-stats {
	padding-left: .5rem;
	font-size: 1rem;
	text-align: left;
}

.defense {
	color: rgb(2, 20, 184);
}

.offense {
	color: rgb(0, 136, 7);
}

.umpire {
	color: rgb(0, 0, 0);
	font-weight: 700;
}
