body {
	background-color: #f8f8ff;
}

header {
	font-family: 'bangers', 'cursive';
	text-align: center;
	font-size: 3rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.segment.container {
	background-color: #fefefa;
}

button.ui.button {
	margin: .75rem;
}

h1.header {
	text-align: center;
}

.game-output {
	height: 250px;
	/* width: 350px; */
	overflow: auto;
}

.game-stats {
	padding-left: 5rem;
	font-size: 1.3rem;
}

.defense {
	color: rgb(2, 20, 184);
}

.offense {
	color: rgb(0, 136, 7);
}

.umpire {
	color: rgb(0, 0, 0);
	font-weight: 700;
}
